/**
* Страница дополнительных стилей
*
* @author Intervision (https://github.com/intervisionlord)
* Copyright © 2019-2020 Intervision
*/

.bgcustom {
  background: url(../imgs/background.svg);
  background-size: contain;
}

div.imgcorner
        {
        position: relative; height: 24px;
        }

div.imgcorner img
        {
        position: fixed; bottom: 55px; right: 10px; no-repeat;
        opacity: 0.1;
        filter: alpha(opacity=10); /* For IE8 and earlier */
        }

select.form-control {
  padding-right: 25px;
  background-image: url("data:image/svg+xml,\
    <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px'\
         height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'>\
      <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/>\
    </svg>");
  background-repeat: no-repeat;
  background-position: calc(100% - 7px) 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
